<div class="fixed bottom-0 left-0">
    <a href="#start"><img src="https://www.svgrepo.com/show/522686/up.svg" alt="" class="w-16"></a>
</div>

<p>index works amazing!</p>

<div id="infiniteBlock" class="cursor-wait">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum dolor ipsa libero nobis ratione,
        repellendus soluta voluptas? Adipisci aliquid consequuntur deserunt distinctio expedita illum iure repellendus
        veritatis. Laborum molestias officia quaerat voluptate? Ab asperiores commodi dolor dolore error explicabo fuga
        laborum, molestias natus neque quidem quo ratione recusandae tempora velit veritatis vitae. At est qui
        repudiandae sunt unde velit. Alias aliquid, aperiam architecto asperiores, assumenda autem dicta ducimus eius ex
        exercitationem fugit, itaque necessitatibus officiis omnis possimus quis unde voluptates! Ad, beatae consequatur
        consequuntur corporis ducimus error facilis illum itaque laborum libero molestias nesciunt nostrum officiis
        optio quas quidem quisquam, rem unde veniam voluptatibus? Deserunt magnam maxime officiis quidem soluta. Aut
        eligendi maiores quaerat qui temporibus! Hic ipsam magnam neque quidem sapiente.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum dolor ipsa libero nobis ratione,
        repellendus soluta voluptas? Adipisci aliquid consequuntur deserunt distinctio expedita illum iure repellendus
        veritatis. Laborum molestias officia quaerat voluptate? Ab asperiores commodi dolor dolore error explicabo fuga
        laborum, molestias natus neque quidem quo ratione recusandae tempora velit veritatis vitae. At est qui
        repudiandae sunt unde velit. Alias aliquid, aperiam architecto asperiores, assumenda autem dicta ducimus eius ex
        exercitationem fugit, itaque necessitatibus officiis omnis possimus quis unde voluptates! Ad, beatae consequatur
        consequuntur corporis ducimus error facilis illum itaque laborum libero molestias nesciunt nostrum officiis
        optio quas quidem quisquam, rem unde veniam voluptatibus? Deserunt magnam maxime officiis quidem soluta. Aut
        eligendi maiores quaerat qui temporibus! Hic ipsam magnam neque quidem sapiente.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum dolor ipsa libero nobis ratione,
        repellendus soluta voluptas? Adipisci aliquid consequuntur deserunt distinctio expedita illum iure repellendus
        veritatis. Laborum molestias officia quaerat voluptate? Ab asperiores commodi dolor dolore error explicabo fuga
        laborum, molestias natus neque quidem quo ratione recusandae tempora velit veritatis vitae. At est qui
        repudiandae sunt unde velit. Alias aliquid, aperiam architecto asperiores, assumenda autem dicta ducimus eius ex
        exercitationem fugit, itaque necessitatibus officiis omnis possimus quis unde voluptates! Ad, beatae consequatur
        consequuntur corporis ducimus error facilis illum itaque laborum libero molestias nesciunt nostrum officiis
        optio quas quidem quisquam, rem unde veniam voluptatibus? Deserunt magnam maxime officiis quidem soluta. Aut
        eligendi maiores quaerat qui temporibus! Hic ipsam magnam neque quidem sapiente.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum dolor ipsa libero nobis ratione,
        repellendus soluta voluptas? Adipisci aliquid consequuntur deserunt distinctio expedita illum iure repellendus
        veritatis. Laborum molestias officia quaerat voluptate? Ab asperiores commodi dolor dolore error explicabo fuga
        laborum, molestias natus neque quidem quo ratione recusandae tempora velit veritatis vitae. At est qui
        repudiandae sunt unde velit. Alias aliquid, aperiam architecto asperiores, assumenda autem dicta ducimus eius ex
        exercitationem fugit, itaque necessitatibus officiis omnis possimus quis unde voluptates! Ad, beatae consequatur
        consequuntur corporis ducimus error facilis illum itaque laborum libero molestias nesciunt nostrum officiis
        optio quas quidem quisquam, rem unde veniam voluptatibus? Deserunt magnam maxime officiis quidem soluta. Aut
        eligendi maiores quaerat qui temporibus! Hic ipsam magnam neque quidem sapiente.</p>
</div>
