<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-4">
    <a href="#">
        <img class="rounded-t-lg h-32" src="{{ product?.image }}" alt="{{ product?.title }}"/>
    </a>
    <div class="p-5">
        <div [ngClass]="{'blur-sm': visible}">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ product?.title }}</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Id: <span class="font-bold">{{ product?.id }}</span>
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Price: <span class="font-bold">{{ product?.price | currency:'RUB'}}</span>
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Category: <span class="font-bold">{{ product?.category }}</span>
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Rating: <span class="font-bold">{{ product?.rating?.rate | number:'1.2-3' }}</span>
            </p>
        </div>

        <p-button (click)="showDialog()" class="text-center text-white bg-blue-700 rounded-lg py-2"
                  icon="pi pi-external-link" label="Read more"></p-button>
        <p-dialog header="Description" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
                  [draggable]="false" [resizable]="false" [blockScroll]="false"
                  styleClass="border-2 border-black bg-white py-10 px-10">
            <p class="m-0 text-red-800 font-bold">
                {{ product?.description }}
            </p>
        </p-dialog>
    </div>
</div>
